{{#partial "lede" }}
    Report MOT fraud
{{/partial}}

{{#partial "lede" }}
    Give as much information as possible to help DVSA investigate.
{{/partial}}

{{#partial "content" }}

    <form action="" method="post" autocomplete="off" novalidate>
        <fieldset>
            <legend class="form-title heading-large">About the vehicle</legend>
            <div class="form-group ">
                <label for="vehicleReg" class="form-label">Registration (optional)</label>
                <input type="text" name="vehicleReg" id="vehicleReg" class="form-control form-control-1-4" value="{{vehicleReg.value}}">
            </div>


            <div class="form-group">
                <label for="vehicleMake" class="form-label">Make (optional)</label>
                <input type="text" name="vehicleMake" id="vehicleMake" class="form-control" value="{{vehicleMake.value}}">
            </div>

            <div class="form-group ">
                <label for="vehicleModel" class="form-label">Model (optional)</label>
                <input type="text" name="vehicleModel" id="vehicleModel" class="form-control" value="{{vehicleModel.value}}">
            </div>

        </fieldset>

        <fieldset>
            <legend class="form-title heading-large" id="">About the location</legend>
            <div class="form-group ">
                <label for="locationName" class="form-label">Name of the garage (optional)</label>
                <input type="text" name="locationName" id="locationName" class="form-control" value="{{locationName.value}}">
            </div>

            <div class="form-group ">
                <label for="locationAddress" class="form-label">
                    Address (optional) <span class="form-hint">Include at least the street and town</span>
                </label>
                <input type="text" name="locationAddress" id="locationAddress" class="form-control" value="{{locationAddress.value}}">
            </div>
        </fieldset>

        <fieldset>
            <legend class="form-title heading-large" id="">About the person commiting fraud</legend>
            <div class="form-group ">
                <label for="personName" class="form-label">Name (optional)</label>
                <input type="text" name="personName" id="personName" class="form-control" value="{{personName.value}}">
            </div>
            <div class="form-group ">
                <label for="personAddress" class="form-label">
                    Address (optional) <span class="form-hint">Include at least the street and town</span>
                </label>
                <input type="text" name="personAddress" id="personAddress" class="form-control" value="{{personAddress.value}}">
            </div>
        </fieldset>

        <fieldset>
            <legend class="form-title heading-large" id="">About the incident</legend>
            <div class="form-group {{#if comments.errorMessage }} has-error {{/if}}">
                <label for="comments" class="form-label">
                    Give a detailed description of what happened (required)
                    {{#if comments.errorMessage}} <span class="validation-message">{{comments.errorMessage}}</span> {{/if}}
                </label>
                <textarea type="text" name="comments" id="comments" class="form-control form-control--flex-v">{{comments.value}}</textarea>
            </div>
        </fieldset>

        <nav class="content-navigation">
            <input type="submit" value="Continue" class="button">
            <ul class="content-navigation__secondary">
                <li>
                    <a href="/fraud">Back</a>
                </li>
            </ul>
        </nav>

    </form>

{{/partial}}
{{> uk/gov/dvsa/moti/web/views/master }}